@model IEnumerable<MoviesWorldCupSite.Models.MoviesViewModel>

<div class="jumbotron">
    <center>
        <h2>Campeonato de filmes: <strong>Resultado final</strong></h2>
    </center>
    <p class="lead">
        Segue o resultado final do campeonato de filmes após competição entre os filmes selecionados
    </p>
</div>

<div class="jumbotron">
    @foreach (var item in Model)
    {
        if (item.Campeao)
        {
            <div>
                <p>1º LUGAR: item.Titulo</p>
            </div>
        }
        else
        {
            <div>
                <p>2º LUGAR: item.Titulo</p>
            </div>
        }
    }
</div>