<div class="modal fade" id="modal-mensagem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Primeiro e segundo colocados do campeonato</h4>
            </div>
            <div class="modal-body">
                <p> Segue o resultado final do campeonato de filmes após competição entre os filmes selecionados: </p>
                <div id="primeiroColocado">
                    
                </div>
                <div id="segundoColocado">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>