@{
    ViewBag.Title = "Sobre a aplicação";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    A Copa do Mundo de filmes, é uma aplicação para iniciar uma disputa (<strong>campeonato</strong>) de 8 filmes selecionados dentre o total 16 de filmes para analisar a cada partida o vencedor, assim no fim exibindo o campeão e vice-campeão.
</p>
