<div class="jumbotron">
    <center>
        <h2>Campeonato de filmes: <strong>Resultado final</strong></h2>
    </center>
    <p class="lead">
        Resultado final da copa de filmes.
    </p>
</div>

<div class="jumbotron">

</div>
